/* css/app.css */
@import "../node_modules/normalize.css/normalize.css";

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  margin: 0px;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

.section {
  height: 100vh;
}

/* Style about section one*/

.one, .nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one{
  background-image: url("../img/background.jpg");
}

.links a{
  padding: 10px;
}

/* Style about section two */
.two,.three,.four,.iphone-demo,.feature-description{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.feature-description {
  flex-direction: column;
}

.iphone-demo, .feature-description{
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0;
}

.iphone{
  position: relative;
}

.iphone-demo img:last-child,
.feature-description img:last-child {
  position: absolute;
  top:90px;
  left: 25px;
}

#android-robot{
  transform: translate(50%, 50%) rotate(-45deg);
  position: absolute;
  right: 0;
  bottom: 0;
}

/*slider-control*/

body{
    position: relative;
}

#slider-control {
  position:fixed;
  top: 50%;
  right: 0;
  padding: 3px;
  transform: translate(-50%, -50%);
}

#slider-control a {
  padding: 3px;
}

#slider-control .dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
}

#slider-control .active .dot {
  background-color: #fff;
}

/*OverLay*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
}

.nav, .links {
  position: relative;
  z-index: 2;
}
